In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [119]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

from matplotlib import colors
#import xgboost as xgb
#
import os
import sys
#
from datetime import datetime, timedelta
from time import time
from uuid import uuid4
from scipy.ndimage import convolve1d
import numpy as np
import pandas as pd
import tensorflow as tf

#
from sklearn.metrics import make_scorer, r2_score
from sklearn.model_selection import cross_validate
# 
import warnings
warnings.filterwarnings(action='ignore', category=UserWarning)

%matplotlib inline

In [120]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

# Make NumPy printouts easier to read.
np.set_printoptions(precision=3, suppress=True)

In [6]:
!unzip "/content/drive/MyDrive/pai_machine_metric11.zip"

Archive:  /content/drive/MyDrive/pai_machine_metric11.zip
  inflating: pai_machine_metric.csv

In [7]:
!unzip "/content/drive/MyDrive/pai_task_table11.zip"

Archive:  /content/drive/MyDrive/pai_task_table11.zip
  inflating: pai_task_table.csv

In [214]:
train_data = pd.read_csv('/content/pai_machine_metric.csv')
train_data

,worker_name,machine,start_time,end_time,machine_cpu_iowait,machine_cpu_kernel,machine_cpu_usr,machine_gpu,machine_load_1,machine_net_receive,machine_num_worker,machine_cpu
0,8fa54171acbc9f16704c03f137ac053ede9a97432cfc94...,5248e29b2b7f2b5f8b974608,2134401,2134599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9b69319eb5d19b4ea2514fcb4d761c3d00be925b65f529...,5248e29b2b7f2b5f8b974608,2806218,2806331,0.006080,9.226264,40.158927,192.551088,89.731273,3.845883e+08,15.672816,49.391271
2,b37cd5d848323f23352464f71d3c27ef4796532ee09d59...,5248e29b2b7f2b5f8b974608,3084090,3084411,0.000699,10.140853,40.807522,150.497242,72.377214,7.027994e+08,14.234469,50.949074
3,8a3db37b3795c7c753963d0ef966df9703d39b9f918e1a...,5248e29b2b7f2b5f8b974608,2119980,2134354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f114ac24745ec00da7107387afc99ed7cd8132530e8ef7...,5248e29b2b7f2b5f8b974608,2164803,2171278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
499994,adee9d2bd7265e9c6a3a9b599ac147f1ad9cc34e56f0d5...,274faea7c2b83356d5de3b77,3132103,3133131,0.004562,4.102616,17.383334,51.223102,21.956170,5.512585e+08,5.043801,21.490512
499995,fcf321bd4d26c893574e29d2e17740e3d61015b05a84f6...,274faea7c2b83356d5de3b77,3211881,3211982,0.002716,1.676733,17.442841,29.884499,18.782778,5.283590e+07,5.098641,19.122290
499996,bdc422a0fc9e4e9f47c4deea474db2bca79c1c626e369a...,274faea7c2b83356d5de3b77,3211882,3211973,0.002716,1.676733,17.442841,29.884499,18.782778,5.283590e+07,5.098641,19.122290
499997,32d57bdcdcca54e964f75fcba6c975f5b1eb5258727f81...,274faea7c2b83356d5de3b77,3244419,3244470,0.002670,1.787369,18.590296,21.676219,20.071826,5.256312e+07,5.345062,20.380335
499998,d289a1564cb71833b8982e645bb658b75476a468476a20...,274faea7c2b83356d5de3b77,3322017,3323604,0.003105,2.296367,21.571743,40.311291,23.359893,6.906471e+07,5.640127,23.871215

In [215]:
train_data.columns

Index(['worker_name', 'machine', 'start_time', 'end_time',
       'machine_cpu_iowait', 'machine_cpu_kernel', 'machine_cpu_usr',
       'machine_gpu', 'machine_load_1', 'machine_net_receive',
       'machine_num_worker', 'machine_cpu'],
      dtype='object')

In [216]:
test_data = pd.read_csv('/content/pai_task_table.csv')
test_data

,job_name,task_name,inst_num,status,start_time,end_time,plan_cpu,plan_mem,plan_gpu,gpu_type
0,3e6f005d5fc08a0108f4eb1e,ps,1,Terminated,675282,675318,600.0,29.296875,NaN,NaN
1,aa93a6ed0b24235487081bf1,ps,1,Terminated,731739,731772,600.0,29.296875,NaN,NaN
2,96e053818c246cd68f301d40,ps,2,Terminated,591455,802150,200.0,4.882812,NaN,NaN
3,10e530eb422cec7bb19c6fd7,ps,1,Terminated,687588,807680,100.0,0.976562,NaN,NaN
4,2883edbad23c6bef16f655c0,ps,1,Terminated,610350,813276,100.0,0.976562,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
499994,76f391e1deed03eb87ade370,tensorflow,1,Terminated,4480035,4483303,600.0,29.296875,100.0,MISC
499995,64002d792fba760cddebd253,tensorflow,1,Terminated,4482654,4483307,600.0,29.296875,100.0,P100
499996,fe3990737fef541f2f4dc6dd,tensorflow,1,Terminated,4482651,4483320,600.0,29.296875,100.0,P100
499997,e162cfb7391cd08ff4bcc7e5,tensorflow,1,Terminated,4482936,4483322,600.0,29.296875,25.0,T4
499998,2573fd17b2e26c0f03f270c1,tensorflow,1,Terminated,4481414,4483325,600.0,29.296875,100.0,MISC

In [217]:
train_data.dtypes

worker_name             object
machine                 object
start_time               int64
end_time                 int64
machine_cpu_iowait     float64
machine_cpu_kernel     float64
machine_cpu_usr        float64
machine_gpu            float64
machine_load_1         float64
machine_net_receive    float64
machine_num_worker     float64
machine_cpu            float64
dtype: object

In [218]:
test_data.dtypes

job_name       object
task_name      object
inst_num        int64
status         object
start_time      int64
end_time        int64
plan_cpu      float64
plan_mem      float64
plan_gpu      float64
gpu_type       object
dtype: object

In [126]:
len(train_data.columns)

12

In [127]:
len(test_data.columns)

10

In [219]:
train_data.isna().sum()

worker_name                0
machine                    0
start_time                 0
end_time                   0
machine_cpu_iowait     42111
machine_cpu_kernel     59422
machine_cpu_usr        43613
machine_gpu            53859
machine_load_1         50347
machine_net_receive    46597
machine_num_worker     52708
machine_cpu            60953
dtype: int64

In [220]:
test_data.isna().sum()

job_name          0
task_name         0
inst_num          0
status            0
start_time        0
end_time          0
plan_cpu        351
plan_mem        351
plan_gpu      99150
gpu_type      99009
dtype: int64

In [130]:
train_data["machine_gpu"].unique()

array([    nan, 192.551, 150.497, ...,  29.884,  21.676,  40.311])

In [131]:
# Get count duplicates When having nan values
df2 = train_data.pivot_table(columns=['machine_gpu'], aggfunc='size')
print(df2)

machine_gpu
0.000000      253
0.000788        1
0.001293        1
0.001471        1
0.001474        1
             ...
753.967063      1
759.646033      1
759.985202      1
760.536408      1
762.246263      1
Length: 428565, dtype: int64

In [132]:
# Get count duplicates When having nan values
df2 = train_data.pivot_table(columns=['machine_cpu'], aggfunc='size')
print(df2)

machine_cpu
1.200159     1
1.205916     1
1.306423     1
1.314211     1
1.314386     1
            ..
99.134186    1
99.178589    1
99.219481    1
99.271547    1
99.272349    1
Length: 422824, dtype: int64

In [221]:
df2 = train_data.groupby(train_data.columns.tolist(), as_index=True).size()
print(df2.head(50))

worker_name                                                   machine                   start_time  end_time  machine_cpu_iowait  machine_cpu_kernel  machine_cpu_usr  machine_gpu  machine_load_1  machine_net_receive  machine_num_worker  machine_cpu
00003397282f303aa87d59bfbad5214bfaafdab3da31d9b197086937ca15  94f2961239dc5c855088c15f  4572964     4574676   0.002649            10.681014           36.110710        499.884615   58.278061       6.508965e+08         14.779004           46.794373      1
0000415c89b73cf16ad1dcecf959a774810c060167a1050344a861d1de60  40fd6adce4fc460cb21f5224  3367625     3382114   0.001817            16.048790           17.387714        371.630885   93.201314       6.499883e+08         9.769371            33.438322      1
000043b4624f0029dcab376fb056adef06374fded6930b75e925fb9861c6  405d86056a38bc086a130c73  5353067     5396008   0.001590            26.273453           42.201389        151.375958   277.574524      6.147367e+08         19.713717           68.476432      1
00005e142e2f8655e2b7362d15845f09b26bee2f3a7aa11a0a77e163a4b6  a4387634c3b5e596fb512a0a  4267955     4273503   0.002921            5.074142            10.647175        87.254848    10.809314       5.915961e+08         4.499076            15.724238      1
00008925a5f34b6e74ffe7bbc778c073a4b35a2aa01541068f433a07390e  067abae3d1f17bd33725b252  5818586     5819161   0.002655            6.662908            12.208822        25.967209    12.134692       1.805878e+08         4.930681            18.874385      1
0000f88c79344fe16087e77ae75f91c22f9ce8ab6fc0407a98a5d3474fc5  b5315c20ca28596a86a87ac8  2789338     2812101   0.038996            5.095390            22.464586        111.878545   17.181680       1.706799e+08         4.837999            27.598972      1
00012b3377215c5449d34b28f0e8cb487cd9d54ac4571a301ca7aa681dc0  83238cf3d3a6aed6b22564dc  3136795     3136913   0.005731            3.847491            9.796264         328.501850   14.675940       1.082696e+07         0.645661            13.649487      1
00014c4044509739018840b36eadc7e9b2bfc88a01c2969f60bbef893f13  5327ab7fc44a9059274d307a  5239621     5260734   0.008722            5.590001            22.833051        23.931336    18.749920       8.164299e+08         3.298000            28.431774      1
000186b737a0b291e8a40bf746b6000ef942bebaa640596b7d2809cb444e  35c567a67429dd4d28ca07ef  6055770     6068011   0.002996            2.645078            20.371103        29.949601    14.442489       2.107752e+08         4.639283            23.019176      1
0001bd76e7366db20d67f2f29a1abe65c04609d17d52f37a2a1b3b8622cf  dacdf63925927f3c69b537bf  6217803     6217867   0.014916            6.951091            10.838165        99.277493    10.667338       3.911519e+08         1.695399            17.804171      1
0001d83c8f73209aeca6c7b2b9ff90f2478e9b029c07ec690cc50c405318  c1db4deae769b25df5a0ccae  6115343     6118098   0.003131            10.470676           34.810275        113.639023   66.045279       5.082053e+08         20.912445           45.284082      1
0001e3a82a260c8db6d97e8f88cbd4038599c8e40664bd03dd523a8eb0f5  e36431ae6432e63fcfe10903  6068998     6112677   0.003703            2.738781            12.801494        52.750182    9.477913        1.824948e+08         3.853374            15.543978      1
00024dfab12193a4f07e0812c92f2f1a35f3eef256aa79a1578469a1ec4b  e536caeccf0bea095bdfc4a5  3916683     3920417   0.002709            4.851170            6.633514         16.292660    7.011956        1.169702e+08         1.816616            11.487393      1
00026eb40c6738457d1acf683b8ac963da7b0d0ae0f3f1efda06f80dfb32  1836d6c3790f1fa000727714  6390359     6394007   0.004013            2.467169            14.737979        14.128813    12.672886       4.015891e+08         3.158874            17.209162      1
0002c1b03ffc35a4e5c71455a15a2732f7569d597844680326bc3bfa48f7  add14e5f297dd42dc142d61f  5970887     5971117   0.015132            6.105023            22.812203        58.515253    20.102609       8.557751e+08         4.462814            28.932357      1
00034d82168024bbeb84b8dba38f7f32ef9a8e881b54c1a2f96e68a171d0  8d2ea6f843ffcdb6d88b0fba  3821427     3821514   0.000717            5.907474            13.959521        138.880050   19.670468       7.730279e+08         16.221361           19.867712      1
0003621bcc39579e5f8360bac4421766b3bdce236b39de759041feb6d7a0  220c9dac1d63740eeebc87fc  6130530     6156148   0.001376            20.896006           45.118932        214.413989   282.281033      8.226379e+08         17.852113           66.016313      1
0003635b245f526b199d0cd1327a9bf9a0a24accb509bbb9bdff24b7a747  ccbd9d2e9062e626cec5fc8f  4846860     4864106   0.002027            16.649054           33.766299        186.757333   74.942027       9.780692e+08         12.353217           50.417380      1
000382d13044c4754d7cab2f6bc40ea0467db48f8786956f322e77e65ee8  ad7bcd1b3ded4d0e2d84f9ae  5801978     5803041   0.009234            8.764694            25.092525        103.408268   22.684593       1.484292e+08         2.724882            33.866453      1
0003c87d97dc157c53e998bc10923ce1aa076991fac12307a8cd222a7aca  82f18938560e3deea9538fda  2680914     2687120   0.003280            1.737654            10.411515        16.390169    7.925231        7.998896e+07         5.718950            12.152448      1
0003e08780b81c754454741f140ad90efa2f65f8f7260a80f2fa9fe99ec2  3b127c8abb4f26e57b34af81  3970745     3973481   0.002971            7.160332            30.303579        62.004088    52.996063       4.787961e+08         17.497071           37.466882      1
0003ecc2eea8c137d2ac47e4792a2a8836c14035b6cc41ded799d1e37879  da452f175d07b274ec9c51d7  4503672     4507195   0.002597            2.258762            8.594579         16.522527    6.793727        1.329197e+08         5.133047            10.855937      1
0003f24b33625fa16d4e90765015cb841d8addca566675e05d926a0ed61f  08c68f403a3bec6076c257f4  5272851     5276365   0.001597            15.943461           17.812473        525.692418   34.306044       6.602292e+08         4.494022            33.757532      1
0003f383e27ee5974a037e7007028aa1561158cfc7027925dbf7244acf1c  a4189218c4c41e70332db616  3570170     3659921   0.001999            12.167173           50.079661        11.039724    50.565117       2.271310e+08         5.254595            62.248833      1
0004178c5d39d793c646628c17c2c7ca0ec1c2362b3a2a622152ccb6a7ce  7e201f8b3ad6a9c8ee58113e  5292237     5292475   0.003069            4.185476            20.420513        71.744975    16.320226       3.099693e+08         5.434313            24.609058      1
00045d6ca6aa07432ef64fcc1f9ff9ea09f871a335ae1777f417aaa98ecf  09045f8d0027bdda4705bb83  5555907     5556184   0.003528            12.693230           57.594128        170.408344   104.579357      1.184861e+09         21.659205           70.290886      1
0004612089b5084b3fbd15896527292ab1f7832eb6f0e54aadbaf70a55c3  23fadb2a32734936d5750c30  4952932     5011812   0.004770            8.692641            30.547161        237.466117   57.368488       4.575784e+08         10.735820           39.244572      1
000486ca2feab46969815b59485855afb4062d0354b1d6028f0a4c96dfaf  9374eea0dd7fea1fee6ff9e1  2753869     2764210   0.000899            11.620170           25.908197        225.081182   89.148058       7.340468e+08         13.229759           37.529266      1
0004a8d6c3c0bcd7dd64578ab40e6042787736eb60993af7fc8d7cd4d34f  091874591c93b7fa72dc8a54  6366869     6367005   0.007269            7.762184            22.816885        134.319789   29.754275       3.450512e+08         12.956598           30.586338      1
0004c830032b6ace4e0f0464c26a259c661a1586089666d1f4745be95d47  5a6e5d0068c21c9321d0dc52  3313333     3313927   0.002193            3.343153            11.524319        43.597813    8.917364        1.689195e+08         6.424807            14.869664      1
0004db328ea655b631dd58c1b85800e849bdbd32daaf7d32baf9086464e1  2682c3246f3a8f612ab6df4d  6286860     6294181   0.001225            5.787231            16.606057        46.698866    67.717924       1.109522e+08         8.126502            22.394513      1
0004fcd1a2ed0fb1aaf5036ca7d9519b6b904c009434917b24fc1283b5ef  9374eea0dd7fea1fee6ff9e1  4324236     4358330   0.003263            14.052973           32.435590        345.783457   57.112851       7.255597e+08         10.945323           46.491827      1
0005274fb8695d1d0d3222da2e8de4c6c96c63a6436bd9452aa0d9f49f5e  c62829760dde698fcf440b4a  3027839     3028889   0.004704            2.585490            21.940936        38.637260    14.644410       1.561306e+08         4.642118            24.531131      1
00057e444c3a4e4cd49e7d6ff337868dce2dcd57fc8a7698e7b79afcaaa2  3e4b5b1f3cd215bb2349b2eb  4628347     4670654   0.003149            3.599469            7.400171         128.270398   6.669039        8.603134e+07         4.643030            11.002789      1
000600682fcb5ed88e9ce88ee02e2d0141435f8c2ebbda167ba0a85149ce  3ea0f9a19f657eb87ed79dc4  6032092     6033430   0.026227            9.903822            44.844478        134.438435   86.126097       3.465852e+08         17.614422           54.774528      1
0006238f36042555b076e0432b6721e510b04b07ca0c81d5316a78831d7c  7c53fdc2a3f93c3248cf799e  5170446     5172720   0.002238            11.689423           17.089768        109.249090   53.751593       7.501756e+08         4.681145            28.781429      1
00067900b0782e665e7d6c039e2751d3af7e41a0873af00c2c45fd840bb0  99e8a0eb98af3113b2c66010  4021894     4038217   0.005694            3.501927            16.539617        33.837725    12.657049       1.176494e+08         3.606775            20.047239      1
0006b5ec2bdfa34959054f6a108f8a6d6306558ee3d6a3583b4a37518b81  89a44e44648b5e5424234115  5034934     5035036   0.002204            4.513986            8.976373         18.593758    8.665316        1.517000e+08         4.171702            13.492563      1
0006fb1f856921238bd02aac84380fcaff0f03b30d8cff94908623c46f64  d4784aaadd6473291bc912c8  4256730     4256872   0.013617            7.593963            11.691532        113.918761   12.688273       5.834898e+08         3.844202            19.299113      1
000700ce8525c82d4d6b29d850bd9daf1d8988de4d2530faf1c427e41872  ff1810dc3575a81fa5c6a1ee  5845212     5847371   0.002027            14.640396           16.611128        364.218422   33.780056       2.908410e+08         11.805182           31.253551      1
000737679c6d66960fabaed24ef4fdf294aace71419551f5efd9b68d295f  5f0040ef41025e8d1c0f2095  3291254     3311230   0.002131            4.694511            10.695060        31.630201    9.541767        8.949982e+07         4.859563            15.391703      1
000783ef6fb75abaf3e94a9b2eca3d7cf48f33491ebb9fabed89dcbf6402  10a7b863daeff0818da1a077  3810621     3860131   0.008169            8.012431            15.369120        35.041701    17.827058       2.684261e+08         6.024805            23.389720      1
0007e5acedbd0b396ebcea9e6f778b036f612adb7ade5577eb4d85d71671  3836690bfb8ec600b48c86b5  4859783     4861840   0.005447            20.272621           43.484448        170.714078   184.732550      7.454449e+08         14.471193           63.762516      1
00080fe34ddea85892d4504cca28adf5fef02fcf85955000e9a3c7fc3246  1f46b05a79d06eb6019e5022  4828426     4828910   0.005618            4.055419            17.708510        36.770092    13.726089       2.759834e+08         5.544663            21.769547      1
0008320d8b4da2436d9a6bba07ec0d7d14a73434a0924ec61cce06056a2d  e1731b5b35e6841d55dafefb  5618808     5618883   0.000732            9.992863            35.430013        239.043917   57.532315       6.098368e+08         13.432501           45.423609      1
000864a8bbf6ee33294c9a6cedf8b6883813742b169e555e54a334dd1e77  85ab65ccb902a3825f8d5678  5002976     5072467   0.000640            5.774611            7.639689         514.568830   12.032549       8.047177e+06         0.998833            13.414940      1
00087938ef66a76669029dc084dd91f324994931eee696dc99f1a4e9dc5c  285100ad166bdcef5bf9cab7  4200764     4200913   0.001061            36.484287           17.218543        388.776539   66.561831       3.255235e+08         12.062373           53.703891      1
00089067239fcdc8cff701b257ac816e31a09fd189236802d43ec634257c  416962e72f876d027666b673  5960391     5960495   0.008864            1.942995            11.566772        23.040524    8.577487        9.201103e+07         5.622010            13.518631      1
00089fcfce9f206489d963b0ecd12c896538ee9131e4bc5e575f67bccff1  e7b3f000e98a235fa417f069  3797595     3811729   0.010909            11.947690           45.331243        121.295015   92.113475       5.366602e+08         15.921612           57.289842      1
0008a5c6645d1d001ce6ec9b3293f059fcd6e1b07712b48e5638baa028c9  c53b5c55946d1bf5d2f78724  5936306     5936521   0.002335            4.065957            18.700561        105.956104   14.518659       4.978020e+08         3.349111            22.768853      1
dtype: int64

In [222]:
tst2 = test_data.groupby(test_data.columns.tolist(), as_index=True).size()
print(tst2.head(50))

job_name                  task_name       inst_num  status      start_time  end_time  plan_cpu  plan_mem   plan_gpu  gpu_type
0000407f42f4dddf0a49d7e5  tensorflow      1         Terminated  2345202     2345247   600.0     29.296875  50.0      T4          1
0000694f3c7e9654d7cb59e1  worker          30        Terminated  1508103     1509101   400.0     14.648438  50.0      MISC        1
0000797b79842dd4521e97b3  PyTorchWorker   1         Terminated  1105020     1105089   800.0     15.625000  100.0     T4          1
00007e24e5fedde13a7cba0d  worker          50        Terminated  2432201     2432529   400.0     9.765625   50.0      MISC        1
0000c3df064b632f2008c101  worker          10        Terminated  2590612     2591047   50.0      48.828125  25.0      MISC        1
0000d08291c27948e15cbdc0  PyTorchWorker   1         Terminated  1144905     1145023   50.0      48.828125  300.0     V100        1
00013e1168e274915b7b2691  tensorflow      1         Terminated  1779678     1780167   600.0     29.296875  200.0     T4          1
00016a16bc8d626726600e2b  tensorflow      1         Terminated  1667376     1667632   600.0     29.296875  25.0      T4          1
0001a51716a714a1159660cf  worker          16        Terminated  3018044     3019645   50.0      29.296875  100.0     T4          1
0001a66f42fb7c195a84a616  tensorflow      1         Terminated  1875085     1878466   600.0     29.296875  100.0     MISC        1
0001c3549e9b6a1dfc6f8381  worker          1         Terminated  4377737     4377801   800.0     19.531250  100.0     T4          1
0001c5de394c73493df7da6d  tensorflow      1         Terminated  3748666     3750750   600.0     29.296875  100.0     T4          1
0001d92010f1e67d45fd415d  tensorflow      1         Terminated  3493026     3496746   600.0     29.296875  10.0      MISC        1
0001f217cb7344e4581d5532  PyTorchWorker   1         Terminated  1252091     1252099   1800.0    58.593750  100.0     T4          1
000234b894ae1fa1483c4d47  worker          5         Terminated  3619648     3622057   600.0     19.531250  25.0      MISC        1
00025e0dc9d223568579d79d  worker          1         Terminated  3781973     3782030   600.0     2.929688   100.0     MISC        1
00026e436518b5a7ed43a446  worker          40        Terminated  3322959     3323510   100.0     4.882812   20.0      MISC        1
0002858bb5bbde0ac3b476f1  PyTorchWorker   1         Terminated  3049870     3052146   1800.0    58.593750  100.0     P100        1
0002bcd7bddf449365b8972a  tensorflow      1         Terminated  2839070     2839197   600.0     29.296875  100.0     MISC        1
0002df3c648fae08552bcb22  tensorflow      1         Terminated  3345288     3354419   600.0     29.296875  10.0      MISC        1
000345dc995f9461184f2486  worker          1         Terminated  2676838     2676861   600.0     29.296875  100.0     T4          1
000353440295dd8820f6c88d  tensorflow      1         Terminated  3603591     3655083   1600.0    29.296875  100.0     MISC        1
00037e01d7199e5bbd37fa14  tensorflow      1         Terminated  1870024     1874573   20.0      29.296875  10.0      MISC        1
00037e701f1a91d73fad4a96  worker          4         Terminated  4475127     4475912   600.0     29.296875  5.0       T4          1
0003ae573ca31d644a2c9312  tensorflow      1         Terminated  2765978     2767893   600.0     29.296875  100.0     T4          1
0003ffd807880419879148b8  worker          20        Terminated  2276524     2276968   600.0     29.296875  50.0      T4          1
00040fd7da8cff5ebd2e1dc0  worker          1         Terminated  2260922     2261136   600.0     2.929688   100.0     MISC        1
00047603867ef842dd9f0e15  xComputeWorker  1         Terminated  1479525     1479829   1000.0    19.550781  50.0      T4          1
00047f61a686bded179ee38e  tensorflow      1         Terminated  2824995     2825202   600.0     29.296875  200.0     T4          1
0004bcbf6442714329da3487  tensorflow      1         Terminated  2794836     2794884   600.0     29.296875  100.0     MISC        1
0004f8c90c48535c88fa4920  worker          1         Terminated  4451966     4452203   600.0     29.296875  100.0     T4          1
00050d16fdb59effafc3d192  ps              1         Terminated  1803276     1803389   600.0     29.296875  100.0     MISC        1
                          worker          2         Terminated  1803289     1803381   600.0     29.296875  100.0     MISC        1
000518e445cfa5ba937f8594  worker          40        Terminated  4157051     4161040   600.0     19.531250  50.0      P100        1
000523269de35217751d844d  tensorflow      1         Terminated  1486910     1502917   600.0     29.296875  50.0      MISC        1
00053f51527d868069b175fb  tensorflow      1         Terminated  2513951     2513977   600.0     29.296875  25.0      T4          1
00054d42a7943ff02531d8ea  tensorflow      1         Terminated  2405566     2410994   600.0     29.296875  25.0      MISC        1
00054f090f00717d6c965eb7  worker          1         Terminated  3753987     3754495   600.0     29.296875  100.0     T4          1
0005742f63b28f8f16d9e563  tensorflow      1         Terminated  2635299     2640870   600.0     29.296875  25.0      MISC        1
0005b6200bc6219b7773b11d  worker          1         Terminated  3835568     3835823   600.0     29.296875  100.0     T4          1
0005e73ee43f9ec8bd8dc83c  tensorflow      1         Terminated  1573584     1576876   600.0     29.296875  100.0     P100        1
0005f64aa6bc32e7fdfbd374  worker          40        Terminated  1328027     1328114   50.0      29.296875  100.0     T4          1
0005fa8421a4e5896d9a9d7c  PyTorchWorker   1         Terminated  3396537     3397092   1800.0    58.593750  100.0     MISC        1
0006040d21eb38624a11bdf4  ps              1         Terminated  1977304     1977348   600.0     29.296875  100.0     MISC        1
                          worker          1         Terminated  1977307     1977338   600.0     29.296875  100.0     MISC        1
000606f41e9a91211d58e414  tensorflow      1         Terminated  2406331     2436414   600.0     29.296875  50.0      MISC        1
000606f6eac486c2738458e4  tensorflow      1         Terminated  3430243     3431736   600.0     29.296875  100.0     T4          1
000611b376a4476beecc0889  xComputeWorker  1         Terminated  2459100     2459343   1000.0    19.550781  50.0      T4          1
00066be6b189aa0ae9f09e02  ps              2         Terminated  1389484     1389576   600.0     29.296875  100.0     MISC        1
                          worker          3         Terminated  1389495     1389565   600.0     29.296875  100.0     MISC        1
dtype: int64

In [135]:
# Use DataFrame.groupby() and nunique() to columns
df2 = (train_data['worker_name']).unique()
print(df2)

['8fa54171acbc9f16704c03f137ac053ede9a97432cfc94e7d1d6893d9b5a'
 '9b69319eb5d19b4ea2514fcb4d761c3d00be925b65f52964197052de6c1e'
 'b37cd5d848323f23352464f71d3c27ef4796532ee09d5964b173744a908a' ...
 'bdc422a0fc9e4e9f47c4deea474db2bca79c1c626e369acab7ede4b6e794'
 '32d57bdcdcca54e964f75fcba6c975f5b1eb5258727f8129441c56087cfe'
 'd289a1564cb71833b8982e645bb658b75476a468476a20185fa28cd81055']

In [138]:
# Use DataFrame.column.value_counts() method
cnt = train_data.worker_name.value_counts()
print(cnt.head(50))

8fa54171acbc9f16704c03f137ac053ede9a97432cfc94e7d1d6893d9b5a    1
a5dbbf7023150fead4a600984167a0bb3daab1860f82717679ffc8c753e9    1
d481bd096165b7acbc5e82840586167f95121c45f301ee75548d228c5dc6    1
7d85f4fe79ba1c1a6834fd53968b2b3b0e14457a64c92880ba8b1e3095fb    1
3a72868cacc3a08c1c468624c058061cfa58eedb96f146f4a87ad202d07d    1
7324b2bb74da5388c038b05dd2031c61ecccb977e00b241db9ca73986ead    1
2757be3e21c7f6d4f72c302edd96000714f09113bc56a63460d2ebf6f945    1
bac8f2ee8032589b8699effcb6de64d3f4c80e5435ea7b2b17c2fd9d6eb8    1
216cf6c9f8e82604d5eb41411105af1cc14d8c083b672c71f95b3e09b75e    1
95da7c4b1d1f6afe7a6ab0782576b6b72a693192739b2c06583df210f156    1
2febdee0fb9d967b501addd976e21940843f064ea88efd8be8cce394a43f    1
e130d7869ab37503306918f990a347651a6924de00315bc4db59a5e7ec19    1
3bee0825861bf738fea59bb15ce5ce5aac92dee8a10c099ca916ca6a2ffd    1
488039fabbd4fe07cb5f3f578a9f80be949acc85d977d073cb9966ab7a68    1
e8d8ec42a56ca80c20427dab0f4e60c024cc25ee8da10df671cd8d3e808a    1
7cdb7750fe15380aef0d3acd6b257f9b316a089b712a1bf003d5c0bc87cc    1
297aa6e8b866a2fdc34ef726ab2409f760b1fa875cde1bb17b42c8ccd944    1
be290a55baf2ba196e40e7a287f8456388627ab1a7b0c12abeb77f3028df    1
a4cf20a5fddc279a06cac1f68010912b9b61814edd0b0d75e2226659dfee    1
e0f9ac89c59849bbc096ec5948431dd246cf53a185bc9a63aa2768674d6e    1
a5df48f63ffcea51052243fa42d36ecef09bb694d9d32f100d4b3427d5f7    1
7b5c3c3f6eaa845e5b751081020e41baf3fe21a253bbf3090b2b9c324c0a    1
8bee5d33903d4f0efcee2781eeec61a83fd923e95407d045ab5f70f35183    1
79bb4ad5b01f5c75438b9d47e6984958ad9b80e598ae6a4a0bc382f34aba    1
648ffcf441247a1955e5683e64a46b1a0018c459da2ba1c278492069900b    1
2e210f36e3cd0f19f02175a74f4b8b05fe8161c570d11fd2bfe69f0d6a2b    1
d6c6145763479d009ae9a239b4aab3247babc270cc084f10446431500878    1
afaa59bd6c4893b71567d0e843b8dceadd93acb60a7fe0be26d55d8571b6    1
865df3cdb5c4d739d5f21b3ed87e6b9213a2fc86ee837e1ec4fb091ad169    1
208c441357157f9a79c8f238c086cfc936efbab05f8123a5c6184b6f5acc    1
da33042f7b145bdf521411e0789b4df528491676bbe3add86ab7eefc0c61    1
dcf31c8855c0cf4daee09f369af41d36699e49c5fa14852ee8fa5a4e8865    1
b4bca2e0266d8855bc70ff722b326af7e9156f462ea1ba4ce5b25463754f    1
b5d4671f6eaba326fdc66bd784a14b54bd7d5f0ef89423dab9a8a5a59730    1
25559a027af435c92244497e109287065ed5bad1507cc324a3bdcebaae88    1
7fc3967f92998496ed156fed3820d3c3bc1ded016a25081dfe99df3aef12    1
a8216c59cbca4a00e82ad53759cd0a5d68f83854f037bda2ee967871a5af    1
aaf876eea07e2a804f36b8133957b097b024f824620c84838e11a403f93c    1
7ee39354950ae1ac34ca106c69ba8641bc78fdc6221d07a8321c117b1351    1
f57cbd4ef3065a9a4fee4d5e89ea519d07bb3aa12dedb48ae6748673511c    1
1415e75936a8a96e3067bad977040ffa000baf584cd9afa7d61a923806c5    1
f8548b3c4d645033ef0ac4d26fefceb106230940dac1a2660ca6401e24b8    1
3a942f43707c52cea398fa5b23b3cc03e0c0de0ddb0a3b70ec4c0afa8b71    1
5a32fb5a37a891e2a73c4e93d87087f7749cfbd1eb8e0dfaf806953cb5a6    1
6d03a77454da05f116b2f652bbc2ad9d33ed07413f57cdcec644def437e9    1
c16c2cf68d09d628a40a802cd93d49d462ce0259ad6b3707de484d7d05c2    1
4b4679b8a82803584d54129797118d84a5c63c2b90bdd3ee6dcaf76941aa    1
0e0559f2172edaa254e15591708e2cc8a8bc89024b789ed37a67d192afb0    1
b184f7869ecc9d1769c7fa8848f177b719c2cef35009a08b159ba632f1b6    1
962a567a8c194c0e0ff4a1b96e13998e283961507eb9d7d8409e95a9a948    1
Name: worker_name, dtype: int64

In [223]:
drop_data = train_data.drop(train_data.columns[[0]], axis=1)
drop_data

,machine,start_time,end_time,machine_cpu_iowait,machine_cpu_kernel,machine_cpu_usr,machine_gpu,machine_load_1,machine_net_receive,machine_num_worker,machine_cpu
0,5248e29b2b7f2b5f8b974608,2134401,2134599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5248e29b2b7f2b5f8b974608,2806218,2806331,0.006080,9.226264,40.158927,192.551088,89.731273,3.845883e+08,15.672816,49.391271
2,5248e29b2b7f2b5f8b974608,3084090,3084411,0.000699,10.140853,40.807522,150.497242,72.377214,7.027994e+08,14.234469,50.949074
3,5248e29b2b7f2b5f8b974608,2119980,2134354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5248e29b2b7f2b5f8b974608,2164803,2171278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
499994,274faea7c2b83356d5de3b77,3132103,3133131,0.004562,4.102616,17.383334,51.223102,21.956170,5.512585e+08,5.043801,21.490512
499995,274faea7c2b83356d5de3b77,3211881,3211982,0.002716,1.676733,17.442841,29.884499,18.782778,5.283590e+07,5.098641,19.122290
499996,274faea7c2b83356d5de3b77,3211882,3211973,0.002716,1.676733,17.442841,29.884499,18.782778,5.283590e+07,5.098641,19.122290
499997,274faea7c2b83356d5de3b77,3244419,3244470,0.002670,1.787369,18.590296,21.676219,20.071826,5.256312e+07,5.345062,20.380335
499998,274faea7c2b83356d5de3b77,3322017,3323604,0.003105,2.296367,21.571743,40.311291,23.359893,6.906471e+07,5.640127,23.871215

In [224]:
drop_data.isna().sum()

machine                    0
start_time                 0
end_time                   0
machine_cpu_iowait     42111
machine_cpu_kernel     59422
machine_cpu_usr        43613
machine_gpu            53859
machine_load_1         50347
machine_net_receive    46597
machine_num_worker     52708
machine_cpu            60953
dtype: int64

In [225]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(drop_data['machine'])
drop_data['machine'] = le.transform(drop_data['machine'])

In [226]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(test_data['job_name'])
test_data['job_name'] = le.transform(test_data['job_name'])

In [227]:
le = preprocessing.LabelEncoder()
le.fit(test_data['task_name'])
test_data['task_name'] = le.transform(test_data['task_name'])

In [228]:
le = preprocessing.LabelEncoder()
le.fit(test_data['status'])
test_data['status'] = le.transform(test_data['status'])

In [229]:
le = preprocessing.LabelEncoder()
le.fit(test_data['gpu_type'])
test_data['gpu_type'] = le.transform(test_data['gpu_type'])

In [230]:
drop_data['machine'] = drop_data['machine'].astype('float64')

In [231]:
test_data['job_name'] = test_data['job_name'].astype('float64')
test_data['task_name'] = test_data['task_name'].astype('float64')
test_data['status'] = test_data['status'].astype('float64')
test_data['gpu_type'] = test_data['gpu_type'].astype('float64')

In [232]:
drop_data["machine_cpu_iowait"].fillna(drop_data["machine_cpu_iowait"].median(),inplace=True)
drop_data["machine_cpu_kernel"].fillna(drop_data["machine_cpu_kernel"].median(),inplace=True)
drop_data["machine_cpu_usr"].fillna(drop_data["machine_cpu_usr"].median(),inplace=True)
drop_data["machine_gpu"].fillna(drop_data["machine_gpu"].median(),inplace=True)
drop_data["machine_load_1"].fillna(drop_data["machine_load_1"].median(),inplace=True)
drop_data["machine_net_receive"].fillna(drop_data["machine_net_receive"].median(),inplace=True)
drop_data["machine_num_worker"].fillna(drop_data["machine_num_worker"].median(),inplace=True)
drop_data["machine_cpu"].fillna(drop_data["machine_cpu"].median(),inplace=True)

In [233]:
test_data["plan_cpu"].fillna(test_data["plan_cpu"].median(),inplace=True)
test_data["plan_mem"].fillna(test_data["plan_mem"].median(),inplace=True)
test_data["plan_gpu"].fillna(test_data["plan_gpu"].median(),inplace=True)
test_data["gpu_type"].fillna(test_data["gpu_type"].median(),inplace=True)

In [234]:
drop_data.dtypes

machine                float64
start_time               int64
end_time                 int64
machine_cpu_iowait     float64
machine_cpu_kernel     float64
machine_cpu_usr        float64
machine_gpu            float64
machine_load_1         float64
machine_net_receive    float64
machine_num_worker     float64
machine_cpu            float64
dtype: object

In [235]:
drop_data.isna().sum()

machine                0
start_time             0
end_time               0
machine_cpu_iowait     0
machine_cpu_kernel     0
machine_cpu_usr        0
machine_gpu            0
machine_load_1         0
machine_net_receive    0
machine_num_worker     0
machine_cpu            0
dtype: int64

In [236]:
test_data.dtypes

job_name      float64
task_name     float64
inst_num        int64
status        float64
start_time      int64
end_time        int64
plan_cpu      float64
plan_mem      float64
plan_gpu      float64
gpu_type      float64
dtype: object

In [237]:
test_data.isna().sum()

job_name      0
task_name     0
inst_num      0
status        0
start_time    0
end_time      0
plan_cpu      0
plan_mem      0
plan_gpu      0
gpu_type      0
dtype: int64

In [ ]:
#combine data, build cmb_data,cmb_target

In [238]:
cmb_data = pd.concat([drop_data, test_data], axis=1)

In [239]:
cmb_data

,machine,start_time,end_time,machine_cpu_iowait,machine_cpu_kernel,machine_cpu_usr,machine_gpu,machine_load_1,machine_net_receive,machine_num_worker,...,job_name,task_name,inst_num,status,start_time,end_time,plan_cpu,plan_mem,plan_gpu,gpu_type
0,265.0,2134401,2134599,0.002745,8.215308,24.573923,115.901736,37.904131,4.198602e+08,8.964171,...,101299.0,14.0,1,2.0,675282,675318,600.0,29.296875,50.0,5.0
1,265.0,2806218,2806331,0.006080,9.226264,40.158927,192.551088,89.731273,3.845883e+08,15.672816,...,277436.0,14.0,1,2.0,731739,731772,600.0,29.296875,50.0,5.0
2,265.0,3084090,3084411,0.000699,10.140853,40.807522,150.497242,72.377214,7.027994e+08,14.234469,...,245339.0,14.0,2,2.0,591455,802150,200.0,4.882812,50.0,5.0
3,265.0,2119980,2134354,0.002745,8.215308,24.573923,115.901736,37.904131,4.198602e+08,8.964171,...,27468.0,14.0,1,2.0,687588,807680,100.0,0.976562,50.0,5.0
4,265.0,2164803,2171278,0.002745,8.215308,24.573923,115.901736,37.904131,4.198602e+08,8.964171,...,65793.0,14.0,1,2.0,610350,813276,100.0,0.976562,50.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499994,125.0,3132103,3133131,0.004562,4.102616,17.383334,51.223102,21.956170,5.512585e+08,5.043801,...,193468.0,15.0,1,2.0,4480035,4483303,600.0,29.296875,100.0,0.0
499995,125.0,3211881,3211982,0.002716,1.676733,17.442841,29.884499,18.782778,5.283590e+07,5.098641,...,162425.0,15.0,1,2.0,4482654,4483307,600.0,29.296875,100.0,1.0
499996,125.0,3211882,3211973,0.002716,1.676733,17.442841,29.884499,18.782778,5.283590e+07,5.098641,...,413210.0,15.0,1,2.0,4482651,4483320,600.0,29.296875,100.0,1.0
499997,125.0,3244419,3244470,0.002670,1.787369,18.590296,21.676219,20.071826,5.256312e+07,5.345062,...,366492.0,15.0,1,2.0,4482936,4483322,600.0,29.296875,25.0,2.0
499998,125.0,3322017,3323604,0.003105,2.296367,21.571743,40.311291,23.359893,6.906471e+07,5.640127,...,60783.0,15.0,1,2.0,4481414,4483325,600.0,29.296875,100.0,0.0

In [240]:
cmb_data.dtypes

machine                float64
start_time               int64
end_time                 int64
machine_cpu_iowait     float64
machine_cpu_kernel     float64
machine_cpu_usr        float64
machine_gpu            float64
machine_load_1         float64
machine_net_receive    float64
machine_num_worker     float64
machine_cpu            float64
job_name               float64
task_name              float64
inst_num                 int64
status                 float64
start_time               int64
end_time                 int64
plan_cpu               float64
plan_mem               float64
plan_gpu               float64
gpu_type               float64
dtype: object

In [241]:
cmb_data.isna().sum()

machine                0
start_time             0
end_time               0
machine_cpu_iowait     0
machine_cpu_kernel     0
machine_cpu_usr        0
machine_gpu            0
machine_load_1         0
machine_net_receive    0
machine_num_worker     0
machine_cpu            0
job_name               0
task_name              0
inst_num               0
status                 0
start_time             0
end_time               0
plan_cpu               0
plan_mem               0
plan_gpu               0
gpu_type               0
dtype: int64

In [242]:
normalizer = tf.keras.layers.Normalization(axis=-1)
normalizer.adapt(np.array(cmb_data))

In [243]:
print(normalizer.mean.numpy())

[[3.668e+02 4.402e+06 4.411e+06 4.815e-03 9.729e+00 2.685e+01 1.384e+02
  6.466e+01 4.594e+08 9.850e+00 3.638e+01 2.079e+05 1.433e+01 5.490e+00
  1.967e+00 2.712e+06 2.718e+06 6.594e+02 2.703e+01 6.555e+01 1.597e+00]]

In [244]:
first = np.array(cmb_data[:1])

with np.printoptions(precision=2, suppress=True):
  print('First example:', first)
  print()
  print('Normalized:', normalizer(first).numpy())

First example: [[2.65e+02 2.13e+06 2.13e+06 2.74e-03 8.22e+00 2.46e+01 1.16e+02 3.79e+01
  4.20e+08 8.96e+00 3.42e+01 1.01e+05 1.40e+01 1.00e+00 2.00e+00 6.75e+05
  6.75e+05 6.00e+02 2.93e+01 5.00e+01 5.00e+00]]

Normalized: [[-0.46 -1.87 -1.88 -0.25 -0.2  -0.17 -0.21 -0.28 -0.13 -0.16 -0.13 -0.89
  -0.13 -0.24  0.18 -2.15 -2.15 -0.13  0.15 -0.29  1.77]]

In [245]:
cmb_target = cmb_data.drop(cmb_data.columns[[17,18,19]], axis=1)
cmb_target

,machine,start_time,end_time,machine_cpu_iowait,machine_cpu_kernel,machine_cpu_usr,machine_gpu,machine_load_1,machine_net_receive,machine_num_worker,machine_cpu,job_name,task_name,inst_num,status,start_time,end_time,gpu_type
0,265.0,2134401,2134599,0.002745,8.215308,24.573923,115.901736,37.904131,4.198602e+08,8.964171,34.221865,101299.0,14.0,1,2.0,675282,675318,5.0
1,265.0,2806218,2806331,0.006080,9.226264,40.158927,192.551088,89.731273,3.845883e+08,15.672816,49.391271,277436.0,14.0,1,2.0,731739,731772,5.0
2,265.0,3084090,3084411,0.000699,10.140853,40.807522,150.497242,72.377214,7.027994e+08,14.234469,50.949074,245339.0,14.0,2,2.0,591455,802150,5.0
3,265.0,2119980,2134354,0.002745,8.215308,24.573923,115.901736,37.904131,4.198602e+08,8.964171,34.221865,27468.0,14.0,1,2.0,687588,807680,5.0
4,265.0,2164803,2171278,0.002745,8.215308,24.573923,115.901736,37.904131,4.198602e+08,8.964171,34.221865,65793.0,14.0,1,2.0,610350,813276,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499994,125.0,3132103,3133131,0.004562,4.102616,17.383334,51.223102,21.956170,5.512585e+08,5.043801,21.490512,193468.0,15.0,1,2.0,4480035,4483303,0.0
499995,125.0,3211881,3211982,0.002716,1.676733,17.442841,29.884499,18.782778,5.283590e+07,5.098641,19.122290,162425.0,15.0,1,2.0,4482654,4483307,1.0
499996,125.0,3211882,3211973,0.002716,1.676733,17.442841,29.884499,18.782778,5.283590e+07,5.098641,19.122290,413210.0,15.0,1,2.0,4482651,4483320,1.0
499997,125.0,3244419,3244470,0.002670,1.787369,18.590296,21.676219,20.071826,5.256312e+07,5.345062,20.380335,366492.0,15.0,1,2.0,4482936,4483322,2.0
499998,125.0,3322017,3323604,0.003105,2.296367,21.571743,40.311291,23.359893,6.906471e+07,5.640127,23.871215,60783.0,15.0,1,2.0,4481414,4483325,0.0

In [246]:
cmb_data.columns.values[1] = "machine_start_time" 
cmb_data.columns.values[2] = "machine_end_time" 
cmb_data.columns.values[-3] = "job_start_time" 
cmb_data.columns.values[-2] = "job_end_time" 
print(cmb_data.columns)

Index(['machine', 'machine_start_time', 'machine_end_time',
       'machine_cpu_iowait', 'machine_cpu_kernel', 'machine_cpu_usr',
       'machine_gpu', 'machine_load_1', 'machine_net_receive',
       'machine_num_worker', 'machine_cpu', 'job_name', 'task_name',
       'inst_num', 'status', 'start_time', 'end_time', 'plan_cpu',
       'job_start_time', 'job_end_time', 'gpu_type'],
      dtype='object')

In [247]:
# Using the values attribute
cmb_target.columns.values[1] = "machine_start_time" 
cmb_target.columns.values[2] = "machine_end_time" 
cmb_target.columns.values[-3] = "job_start_time" 
cmb_target.columns.values[-2] = "job_end_time" 
print(cmb_target.columns)

Index(['machine', 'machine_start_time', 'machine_end_time',
       'machine_cpu_iowait', 'machine_cpu_kernel', 'machine_cpu_usr',
       'machine_gpu', 'machine_load_1', 'machine_net_receive',
       'machine_num_worker', 'machine_cpu', 'job_name', 'task_name',
       'inst_num', 'status', 'job_start_time', 'job_end_time', 'gpu_type'],
      dtype='object')

In [248]:
cmb_target

,machine,machine_start_time,machine_end_time,machine_cpu_iowait,machine_cpu_kernel,machine_cpu_usr,machine_gpu,machine_load_1,machine_net_receive,machine_num_worker,machine_cpu,job_name,task_name,inst_num,status,job_start_time,job_end_time,gpu_type
0,265.0,2134401,2134599,0.002745,8.215308,24.573923,115.901736,37.904131,4.198602e+08,8.964171,34.221865,101299.0,14.0,1,2.0,675282,675318,5.0
1,265.0,2806218,2806331,0.006080,9.226264,40.158927,192.551088,89.731273,3.845883e+08,15.672816,49.391271,277436.0,14.0,1,2.0,731739,731772,5.0
2,265.0,3084090,3084411,0.000699,10.140853,40.807522,150.497242,72.377214,7.027994e+08,14.234469,50.949074,245339.0,14.0,2,2.0,591455,802150,5.0
3,265.0,2119980,2134354,0.002745,8.215308,24.573923,115.901736,37.904131,4.198602e+08,8.964171,34.221865,27468.0,14.0,1,2.0,687588,807680,5.0
4,265.0,2164803,2171278,0.002745,8.215308,24.573923,115.901736,37.904131,4.198602e+08,8.964171,34.221865,65793.0,14.0,1,2.0,610350,813276,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499994,125.0,3132103,3133131,0.004562,4.102616,17.383334,51.223102,21.956170,5.512585e+08,5.043801,21.490512,193468.0,15.0,1,2.0,4480035,4483303,0.0
499995,125.0,3211881,3211982,0.002716,1.676733,17.442841,29.884499,18.782778,5.283590e+07,5.098641,19.122290,162425.0,15.0,1,2.0,4482654,4483307,1.0
499996,125.0,3211882,3211973,0.002716,1.676733,17.442841,29.884499,18.782778,5.283590e+07,5.098641,19.122290,413210.0,15.0,1,2.0,4482651,4483320,1.0
499997,125.0,3244419,3244470,0.002670,1.787369,18.590296,21.676219,20.071826,5.256312e+07,5.345062,20.380335,366492.0,15.0,1,2.0,4482936,4483322,2.0
499998,125.0,3322017,3323604,0.003105,2.296367,21.571743,40.311291,23.359893,6.906471e+07,5.640127,23.871215,60783.0,15.0,1,2.0,4481414,4483325,0.0

In [249]:
cmb_target.isna().sum()

machine                0
machine_start_time     0
machine_end_time       0
machine_cpu_iowait     0
machine_cpu_kernel     0
machine_cpu_usr        0
machine_gpu            0
machine_load_1         0
machine_net_receive    0
machine_num_worker     0
machine_cpu            0
job_name               0
task_name              0
inst_num               0
status                 0
job_start_time         0
job_end_time           0
gpu_type               0
dtype: int64

In [172]:
!pip3 install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.1.1-cp38-none-manylinux1_x86_64.whl (76.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.6/76.6 MB 13.9 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.22.4)
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from catboost) (1.10.1)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from catboost) (3.5.3)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (23.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (4.38.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly->catboost) (8.2.2)
Installing collected packages: catboost
Successfully installed catboost-1.1.1

In [202]:
import numpy as np
from sklearn.datasets import load_linnerud
from sklearn.multioutput import MultiOutputRegressor
from sklearn.linear_model import Ridge
cmb_data, cmb_target = load_linnerud(return_X_y=True)
regr = MultiOutputRegressor(Ridge(random_state=123)).fit(cmb_data, cmb_target)
regr.predict(cmb_data[[3]])

array([[183.126,  35.758,  55.38 ]])

In [205]:
# mlp for multi-output regression
from numpy import mean
from numpy import std
from sklearn.datasets import make_regression
from sklearn.model_selection import RepeatedKFold
from keras.models import Sequential
from keras.layers import Dense

# get the dataset
def get_dataset():
	X, y = make_regression(n_samples=1000, n_features=18, n_informative=5, n_targets=3, random_state=2)
	return X, y

In [206]:
# get the model
def get_model(n_inputs=18, n_outputs=3):
	model = Sequential()
	model.add(Dense(20, input_dim=n_inputs, kernel_initializer='he_uniform', activation='relu'))
	model.add(Dense(n_outputs))
	model.compile(loss='mae', optimizer='adam')
	return model

In [ ]:
#yeah samajh naahi aya

In [ ]:
# evaluate a model using repeated k-fold cross-validation
def evaluate_model(X, y):
	results = list()
	n_inputs, n_outputs = X.shape[1], y.shape[1]
	# define evaluation procedure
	cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
	# enumerate folds
	for train_ix, test_ix in cv.split(X):
		# prepare data
		X_train, X_test = X[train_ix], X[test_ix]
		y_train, y_test = y[train_ix], y[test_ix]
		# define model
		model = get_model(n_inputs, n_outputs)
		# fit model
		model.fit(X_train, y_train, verbose=0, epochs=100)
		# evaluate model on test set
		mae = model.evaluate(X_test, y_test, verbose=0)
		# store result
		print('>%.3f' % mae)
		results.append(mae)
	return results

In [209]:
# use mlp for prediction on multi-output regression
from numpy import asarray
from sklearn.datasets import make_regression
from keras.models import Sequential
from keras.layers import Dense

# get the dataset
cmb_data, cmb_target = make_regression(n_samples=1000, n_features=10, n_informative=5, n_targets=3, random_state=2)

# get the model
def get_model(n_inputs=18, n_outputs=3):
	model = Sequential()
	model.add(Dense(20, input_dim=n_inputs, kernel_initializer='he_uniform', activation='relu'))
	model.add(Dense(n_outputs, kernel_initializer='he_uniform'))
	model.compile(loss='mae', optimizer='adam')
	return model

In [210]:
n_inputs, n_outputs = cmb_data.shape[1],cmb_target.shape[1]
# get model
model = get_model(n_inputs, n_outputs)

In [211]:
# fit the model on all data
model.fit(cmb_data, cmb_target, verbose=0, epochs=100)

In [258]:
model.save('tal1.h5')

In [ ]:
#isko predict krny kylye values dalni hai

In [ ]:
row = [-0.99859353,2.19284309,-0.42632569,-0.21043258,-1.13655612,-0.55671602,-0.63169045,-0.87625098,-0.99445578,-0.3677487]
newX = asarray([row])
yhat = model.predict(newX)
print('Predicted: %s' % yhat[0])

In [253]:
import csv

In [256]:
cmb_data.to_csv('cmb_data.csv', index=False)

In [257]:
from google.colab import files
cmb_target.to_csv('cmb_target.csv')